# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Test / coverage files
.coverage
*.cover
htmlcov/
.pytest_cache/

# Jupyter Notebook checkpoints (if you use notebooks later)
.ipynb_checkpoints/

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/
